body{
  margin: 0;
  font-family: 'Mansalva', sans-serif;
  color:black;
  display: block;
}
.masonry{
  margin-top: 800px;
}
header{
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 99;
}
.container nav ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 20px 50px 20px 50px;
}
.nav-items{
  justify-self: center;
}
.nav-items a{
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}
#myCarousel{
  height: 70px;
  margin-top: 30px;
}
.item{
  height: 770px;
}
 .container{
  padding: 0; 
  margin: 0;
  width: 100%;
}
#searchForm {
	position:absolute;
    top:40%;
}
#search-form-top{
  position:absolute;
  top:40%;
}
.form-group{
  background: rgba(255, 255, 255, 0.6);
  height:  300px;
  width:40vw;
}
#title{
  text-align: center;
  font-family: 'Mansalva', sans-serif;
  font-size: 2.5em;
}
.form-group-top{
  background: rgba(255, 255, 255, 0.6);
  height:  250px;
  width:40vw;
}
#title-top{
  text-align: center;
  font-family: 'Mansalva', sans-serif;
  font-size: 2.5em;
}

#search-form{
  display: grid;
  grid-template-columns: 30% 70%;
}
#search-form-sub-top{
  display: grid;
  grid-template-columns: 60% 5% 35%;
  height: 170px;
  font-family: 'Mansalva', sans-serif;
  font-size: 2em;
}

#search-group-top hr{
  border-color: black;
  margin-bottom: 0;
}
#search-form-sub-top *{
  align-self: center;
  justify-self: center;
}
#search-form-sub-top div{
  height: 100%;
  border-left: 1px solid black;
}
#search-form-sub-top a
{
  align-self: center;
  justify-self: center;
}
#search-button
{
    grid-column-start: 1;
    grid-column-end: 3;
}
textarea{
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
} 
.recipe-item {
    display: inline-block;
    background-color: lightblue;
    margin: 0 0 1em;
    border-radius: 15px 15px 15px 15px;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .recipe-item-sub img{
    height: 300px;
    width: 300px;
  }
  .recipe-item-sub{
    padding-left: 5px;
  }
  h1{
      font-size: 1.1em;
      font-weight: bold;
  }
  h2{
    font-size: .8em;
  }
  a{
    font-size: .8em;
  }
  footer {
    padding-top: 10px;
    text-align: center;
    background-color:white;
    bottom: 0;
    width: 100%;
  }
  .imagefooter{
    width: 50px;
    height: 50px;
    /* background-color: black; */
  
  }
  #copyright{
    text-align: center;
    color: black;
  }
  
  /* REFERENCE Got this from https://blog.jayway.com/2017/07/13/expandable-faq-items-no-javascript/ */
   .collapsible {
    display: block;
    margin-bottom: 1rem;
    margin-top: 5px;
  }
  .collapsible input {
    position: absolute;
    left: -9999px;
  }
  .collapsible input:focus ~ .collapser {
    border-color: grey;
  }
  .collapsible .collapser {
    cursor: pointer;
    border: 1px transparent dotted;
  }
  .collapsible .arrow {
    float: right;
    margin-left: 0.5em;
    display: inline-block;
    transform: rotate(90deg);
    transition: transform 0.25s ease-out;
  }
  .collapsible input:checked ~ .arrow,
  .collapsible input:checked ~ .collapser .arrow {
    transform: rotate(270deg);
  }
  .collapsible .collapsed {
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    transition: opacity 0.25s, margin 0.5s 0.25s, font-size 0.5s 0.25s, padding 0.5s 0.25s;
  }
  .collapsible input:checked ~ .collapsed {
    font-size: 16px;
    opacity: 1;
    height: auto;
    padding: 5px 0;
    transition: margin 0.25s, padding 0.25s, font-size 0.25s, opacity 0.5s 0.25s;
  } 
  @media only screen 
  and (max-width: 630px){
    body{
      font-size: 8px;
    }
    #searchForm {
        top:15%;
    }
    #search-form-top{
      top:15%;
    }
    .form-group{
      width:90vw;
      height:175px;
    }
    .form-group-top{
      width:90vw;
      height: 150px;
    }
    #search-form-sub-top{
      height: 100px;
    }
    .masonry{
      margin-top: 275px;
    }
    .item{
      height: 250px;
    }
  }