body{
  margin: 0;
  font-family: 'Mansalva', sans-serif;
  color:black;
  font-size: 16px;
  display: block;
}
.masonry{
  margin-top: 800px;
  /* padding: 200px; */
}
header{
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 99;
}
.container nav ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 20px 50px 20px 50px;
}
.nav-items{
  justify-self: center;
}
.nav-items a{
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}#myCarousel{
  height: 70px;
  margin-top: 30px;
}
.item{
  height: 770px;
}
 .container{
  padding: 0; 
  margin: 0;
  width: 100%;
}
#searchForm {
	position:absolute;
  	top:40%;
}
#searchForm2{
  position:absolute;
  top:40%;
}
.form-group{
  background: rgba(255, 255, 255, 0.6);
  height:  300px;
  width: 600px;
}
#title{
  text-align: center;
  font-family: 'Mansalva', sans-serif;
  font-size: 2.5em;
}
.form-group2{
  background: rgba(255, 255, 255, 0.6);
  height:  250px;
  width: 600px;
}
#title2{
  text-align: center;
  font-family: 'Mansalva', sans-serif;
  font-size: 2.5em;
}

#search-form{
  display: grid;
  grid-template-columns: 30% 70%;
}
#search-form2{
  display: grid;
  grid-template-columns: 70% 30%;
  height: 180px;
  font-family: 'Mansalva', sans-serif;
  font-size: 2em;
  
}
#search-form2 p{
  align-self: flex-end;
}
#search-button
{
    grid-column-start: 1;
    grid-column-end: 3;
}
textarea{
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
} 
.recipe-item {
    display: inline-block;
    background-color: lightblue;
    margin: 0 0 1em;
    border-radius: 15px 15px 15px 15px;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    /* padding-left: 10px; */
  }
  h1{
      font-size: 1.1em;
      font-weight: bold;
  }
  h2{
    font-size: .8em;
  }
  a{
    font-size: .8em;
  }

  /* REFERENCE Got this from https://blog.jayway.com/2017/07/13/expandable-faq-items-no-javascript/ */
   .collapsible {
    display: block;
    margin-bottom: 1rem;
    margin-top: 5px;
  }
  .collapsible input {
    position: absolute;
    left: -9999px;
  }
  .collapsible input:focus ~ .collapser {
    border-color: grey;
  }
  .collapsible .collapser {
    cursor: pointer;
    border: 1px transparent dotted;
  }
  .collapsible .arrow {
    float: right;
    margin-left: 0.5em;
    display: inline-block;
    transform: rotate(90deg);
    transition: transform 0.25s ease-out;
  }
  .collapsible input:checked ~ .arrow,
  .collapsible input:checked ~ .collapser .arrow {
    transform: rotate(270deg);
  }
  .collapsible .collapsed {
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    transition: opacity 0.25s, margin 0.5s 0.25s, font-size 0.5s 0.25s, padding 0.5s 0.25s;
  }
  .collapsible input:checked ~ .collapsed {
    font-size: 16px;
    opacity: 1;
    height: auto;
    padding: 5px 0;
    transition: margin 0.25s, padding 0.25s, font-size 0.25s, opacity 0.5s 0.25s;
  } 
 